---
import GitHub from "./icons/GitHub.astro";
import aspnet from "./icons/VisualStudio.astro";
import cshard from "./icons/cshard.astro";
import python from "./icons/Python.astro";
import fastApi from "./icons/FastApi.astro";
import typescript from "./icons/TypeScript.astro";
import javascript from "./icons/JavaScript.astro";
import java from "./icons/java.astro";
import springboot from "./icons/SpringBoot.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  ASPNET: {
    name: "Asp.Net",
    class: "bg-black text-white",
    icon: aspnet
  },
  CSHARD: {
    name: "C#",
    class: "bg-[#003159] text-white",
    icon: cshard
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#003159] text-white",
    icon: python
  },
  FASTAPI: {
    name: "FastApi",
    class: "bg-[#003159] text-white",
    icon: fastApi
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#003159] text-white",
    icon: typescript
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#003159] text-white",
    icon: javascript
  },
  JAVA: {
    name: "Java",
    class: "bg-[#003159] text-white",
    icon: java
  },
  SPRINGBOOT: {
    name: "SpringBoot",
    class: "bg-[#003159] text-white",
    icon: springboot
  },
};
const PROJECTS = [
{
    title: "BFF",
    description:
      "Bff (BackEnd for FrontEnd) para realizar las peticiones HTTP al microservicio.",
      github: "https://github.com/alxxr/bff",
    image: "/projects/bff.webp",
    tags: [TAGS.TYPESCRIPT, TAGS.JAVASCRIPT],
  },
  {
    title: "Microservicio Hugging face",
    description:
      "Microservicio construido con Python y FastApi para consumir Hugging face cardiffnlp/twitter-roberta-base-sentiment-latest.",
      github: "https://github.com/alxxr/Microservicio",
    image: "/projects/Microservicio.webp",
    tags: [TAGS.PYTHON, TAGS.FASTAPI],
  },
  {
    title: "Candidatos",
    description:
      "Aplicacion Web (Crud) que permite agregar candidatos con toda su información y experiencias laborales.",
    link: "",
    github: "https://github.com/alxxr/Candidatos.git",
    image: "/projects/Candidatos.webp",
    tags: [TAGS.ASPNET, TAGS.CSHARD],
  },
  {
    title: "Transportes & Logistica",
    description:
      "Aplicacion Web (Crud) que permite agregar conductores y vehiculos, registro, creacion del perfil.",
    link: "",
    github: "https://github.com/alxxr/Transporte-y-logistica-freelancerasp.net",
    image: "/projects/asp.net.webp",
    tags: [TAGS.ASPNET, TAGS.CSHARD],
  },
  {
    title: "Administracion de empleados",
    description:
      "Aplicacion Web (Crud) que permite agregar empleados.",
    link: "",
    github: "https://github.com/KonectaBTO/AdministracionPersonal",
    image: "/projects/java.webp",
    tags: [TAGS.JAVA, TAGS.SPRINGBOOT],
  },
];  
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
